* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(34, 41, 45, 0.9);
  font-family: system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-align: center;
  color: rgb(236, 167, 40);
  margin: 2.5%;
  padding: 2%;
}

h1 {
  color: rgb(236, 167, 40);
  text-decoration-line: underline;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #e9d8d8f3;
}

nav {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

li {
  padding: 10px;
  border-radius: 8px;
  transition: background 0.3s ease;
}

li:hover {
  background: rgba(255, 255, 255, 0.3);
}

.dropdowntext {
  text-align: center;
  color: rgb(236, 167, 40);
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
}

.dropbtn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #040404;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.imgdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#img1-bogenschießen {
  max-width: 50%;
  height: auto;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

#img1-bogenschießen:hover {
  transform: scale(1.05);
}

.boxenschießentext {
  color: rgb(236, 167, 40);
}
#video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

#videotext {
  color: rgb(236, 167, 40);
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

#footer {
  margin-top: 3%;
  color: rgb(236, 167, 40);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

#footer p {
  color: rgb(236, 167, 40);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

footer a:hover {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(236, 167, 40);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

section {
  width: 90%;
  padding: 3%;
}

.sectiondiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgb(146, 147, 157);
  backdrop-filter: blur(3.5px) saturate(180%);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  margin: 2%;
}

@media (max-width: 768px) {
  .sectiondiv {
    flex-direction: column;
  }
}
